.about-tab
{
    margin-bottom: 80px;
}

.about-h1
{
    /* font-size: 50px; */
    color: #b499da;
    animation: cycleColor linear 2s infinite;
}

#HKShadeCol
{
    
}

#HKShadeCol img
{
    animation: floating ease-in-out 5s infinite;
}

