body
{
    background-color: rgb(23, 23, 23);
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Rubik Mono One', monospace;
}

p
{
    font-size: 20px;
    color: #d3c7e4;
}


@media screen and (max-width: 576px) {
    p
    {
        font-size: 14px;
        color: #d3c7e4;
    }

    .container
    {
        margin: auto 10px;
    }

    h5
    {
        font-size: 18px;
    }

    .project-link
    {
        padding: 2px 4px;
    }
}

@media screen and (min-width: 577px) and (max-width: 992px) {
    h5
    {

    }
    
}