.jumbotron
{
    position: relative;
    display: flex;
    width: 100%;
    height: 75vh;
    align-items: center;
    justify-content: center;
    background: url('../media/black_hole.gif');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
}

.jumbotron-title
{
    font-family: 'Rubik Mono One', monospace;
    font-size: 80px;
    color: #b499da;
    position: absolute;
    top: 35%;
    animation: cycleColor linear 2s infinite;
}