.logo-alt-text
{
    animation: cycleColor 2s linear infinite;
}

.logo .navbar-brand
{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 392px) {
    .logo
    {
        margin: auto;
        text-align: center;
    }    
}