#tsparticles, #tsparticles-2, #tsparticles-3, .particle-container img
{
    /* background-clip: border-box; */
    position: absolute;
}

#tsparticles, #tsparticles-2, #ts-particles-3
{
    z-index: 0;
}

#tsparticles
{
    top: 35%;
}

#tsparticles-2
{
    top: 35%;
    left: 20%;
}

#tsparticles-3
{
    top: 20%;
}

.particle-container img
{
    z-index: 1;
}

.particle-container
{
    position: relative;
    display: flex;
    justify-content: center;
}